  #container {
    width: 380px;
    height: 550px;
    background-color: hsl(0, 0%, 12%);
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 50px;
    border-radius: 10px;
}
 
   
 h2 {
    color: rgb(19, 139, 155);
     text-align: center ;
}

h4 {
    color: hsl(0, 0%, 0%);
    text-align: center;
    margin-top: -15px;
}

h6 {
    color: rgb(33, 168, 221);

}

a {
    text-decoration: none;
    color: rgb(42, 5, 59)
}

button {
    background-color: rgb(82, 82, 82);
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin-bottom: 10px;
    border: none;
    color: aliceblue
    
}

button:hover {
    background-color: hsl(273, 90%, 16%);
    color: hsl(0, 0%, 8%);
    cursor: pointer;

}

body {
    background-color: hsl(0, 0%, 8%);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#small{
    height: 15%;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; */
  
}

 img{
    border-radius: 100%;
     width: 80px;
    height: 80px;
}

h5{
    text-align: right;
    color: rgb(33, 17, 90);
    text-decoration: wavy underline;
}